@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*General reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*end general reset*/

/*general styles*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

header, footer{
    background-color: #1E293B;
    color: whitesmoke;
    text-align: center;
    position: sticky;
}
header{
    top:0;
}
h1{
    padding: 1rem;
}

nav ul{
    background-color: aliceblue;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 1rem;
}

li a:visited{
    color:purple
}
li a:hover{
    color:orange
}
li a:active{
    color:red
}

/*CARD STYLING*/
.container{
    flex-grow: 1;
    padding: 2rem;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;
}

.card{
    scroll-margin-top: 9rem;
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card p{
    text-align: center;
    margin-top: 0.2rem;
}

.card img{
    width:300px;
    height:300px;
    border: 1px solid #333;
    border-radius: 50%;
}

figcaption{
    text-align: center;
}

footer{
    bottom:0;
    padding: 1rem;
}


/*media queries*/

    /*SMALL*/
@media screen and (min-width: 576px) {
    body{
        background-color: green;
        background-image: radial-gradient(whitesmoke, green)
    }
    
   /*  nav{
        display: none;
    } */
}

    /*MEDIUM*/
@media screen and (min-width: 768px) {
    body{
        background-color: orange;
        background-image: radial-gradient(whitesmoke, orange)
    }
}

    /*LARGE*/
@media screen and (min-width: 992px) {
    body{
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke, firebrick)
    }
}

    /*XTRALARGE*/
@media screen and (min-width: 1200px) {
    body{
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple)
    }
}

    /*MOBILE DEVICE LANDSCAPE*/
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body{
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue)
    } 

    h1, h2{
        font-size: 1.5rem;
    }
    nav{
        display: none;
    }
}